.manageQuestions-container {
    .manageQuestions-title {
        margin-left: 20px;
        margin-top: 50px;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .questions-content {
        margin: 50px 20px;
        border: 1px solid #ccc;
        border-radius: 20px;
        height: fit-content;

        .questions-select {
            .is-invalid .react-select__control {
                border-color: #dc3545 !important;
                /* màu đỏ của bootstrap */
                box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25) !important;
            }
        }

        .questions {
            display: flex;
            align-items: center;
            gap: 10px;

            .uploadFile-container {
                width: fit-content;
                display: flex;
                gap: 5px;
                margin-right: 10px;

                .label-uploadFile {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    width: fit-content;
                    border: none;
                    padding: 3px 10px;
                    border-radius: 5px;
                    background-color: #0d6efd;
                    color: #fff;
                    cursor: pointer;
                    transition: 0.2s ease-out;

                    &:hover {
                        background-color: #08378e;
                        transition: 0.2s ease-in;
                    }
                }

                .file-name {
                    width: 150px;
                    overflow: hidden;
                    white-space: nowrap;

                    span {
                        display: inline-block;

                        span {
                            &:hover {
                                text-decoration: underline;
                                color: #08378e;
                                cursor: pointer;
                            }
                        }

                    }
                }
            }


            .action-btn {
                display: flex;
                gap: 10px;

                .btn {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    border-radius: 10px;
                    padding: 8px 10px;
                    transition: 0.2s ease-out;
                    border: none;
                    color: #fff;
                }

                .btn-plus {
                    background-color: #16b41b;

                    &:hover {
                        background-color: rgb(30, 131, 7);
                        transition: 0.2s ease-in;
                    }
                }

                .btn-minus {
                    background-color: #b41616;

                    &:hover {
                        background-color: rgb(101, 6, 6);
                        transition: 0.2s ease-in;
                    }
                }

            }
        }

        .answers-content {
            display: flex;
            align-items: center;
            gap: 10px;

            .form-floating {
                width: 560px;
            }

            .action-btn {
                display: flex;
                gap: 10px;

                .btn {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    border-radius: 10px;
                    padding: 8px 10px;
                    transition: 0.2s ease-out;
                    border: none;
                    color: #fff;
                }

                .btn-plus {
                    background-color: #16b41b;

                    &:hover {
                        background-color: rgb(30, 131, 7);
                        transition: 0.2s ease-in;
                    }
                }

                .btn-minus {
                    background-color: #b41616;

                    &:hover {
                        background-color: rgb(101, 6, 6);
                        transition: 0.2s ease-in;
                    }
                }

            }
        }

        .btn-save-questions {
            background-color: #0d6efd;
            color: #fff;
            cursor: pointer;
            transition: 0.2s ease-out;

            &:hover {
                background-color: #08378e;
                transition: 0.2s ease-in;
            }
        }

    }
}