.manageQuestions-container {
    height: 100%;

    .breadcrumb-container {
        margin-left: 20px;
        margin-right: 20px;
        // margin-top: 20px;
        height: 80px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .manageQuestions-title {
            margin-left: 20px;
            // margin-top: 10px;
            font-size: 1.875rem;
            font-weight: 600;
        }

        .nav-breadcrumb {
            font-size: 1rem;
            margin-right: 20px;

            .breadcrumb {
                margin-bottom: 0;

                .breadcrumb-item {
                    &::before {
                        color: #ccc6c6
                    }

                    a {
                        text-decoration: none;

                        .basic-light {
                            color: #0d6efd
                        }

                        .basic-dark {
                            color: #0066ff
                        }

                        .active-light {
                            color: rgba(33, 37, 41, 0.75)
                        }

                        .active-dark {
                            color: #989898
                        }
                    }

                }
            }
        }


    }

    .questions-content {
        margin: 20px 20px 50px;
        border: none;
        border-radius: 20px;
        height: fit-content;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);

        .questions-select {
            .is-invalid .react-select__control {
                border-color: #dc3545 !important;
                /* màu đỏ của bootstrap */
                box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25) !important;
            }
        }

        .questions {
            display: flex;
            align-items: center;
            gap: 10px;

            .uploadFile-container {
                width: fit-content;
                display: flex;
                gap: 5px;
                margin-right: 10px;

                .label-uploadFile {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    width: fit-content;
                    border: none;
                    padding: 3px 10px;
                    border-radius: 5px;
                    background-color: #0d6efd;
                    color: #fff;
                    cursor: pointer;
                    transition: 0.2s ease-out;

                    &:hover {
                        background-color: #08378e;
                        transition: 0.2s ease-in;
                    }
                }

                .file-name {
                    width: 150px;
                    overflow: hidden;
                    white-space: nowrap;

                    span {
                        display: inline-block;

                        span {
                            &:hover {
                                text-decoration: underline;
                                color: #08378e;
                                cursor: pointer;
                            }
                        }

                    }
                }
            }


            .action-btn {
                display: flex;
                gap: 10px;

                .btn {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    border-radius: 10px;
                    padding: 8px 10px;
                    transition: 0.2s ease-out;
                    border: none;
                    color: #fff;
                }

                .btn-plus {
                    background-color: #16b41b;

                    &:hover {
                        background-color: rgb(30, 131, 7);
                        transition: 0.2s ease-in;
                    }
                }

                .btn-minus {
                    background-color: #b41616;

                    &:hover {
                        background-color: rgb(101, 6, 6);
                        transition: 0.2s ease-in;
                    }
                }

            }
        }

        .answers-content {
            display: flex;
            align-items: center;
            gap: 10px;

            .form-floating {
                width: 560px;
            }

            .action-btn {
                display: flex;
                gap: 10px;

                .btn {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    border-radius: 10px;
                    padding: 8px 10px;
                    transition: 0.2s ease-out;
                    border: none;
                    color: #fff;
                }

                .btn-plus {
                    background-color: #16b41b;

                    &:hover {
                        background-color: rgb(30, 131, 7);
                        transition: 0.2s ease-in;
                    }
                }

                .btn-minus {
                    background-color: #b41616;

                    &:hover {
                        background-color: rgb(101, 6, 6);
                        transition: 0.2s ease-in;
                    }
                }

            }
        }

        .btn-save-questions {
            background-color: #0d6efd;
            color: #fff;
            cursor: pointer;
            transition: 0.2s ease-out;

            &:hover {
                background-color: #08378e;
                transition: 0.2s ease-in;
            }
        }

    }
}

.light {
    background-color: #ffffff ;
    color: #000000;
}

.dark {
    background-color: #082440 ;
    color: #cfcfcf;
}

.dark-card {
    background-color: #0b335c ;
    color: #cfcfcf ;

}

.floating-light {


    label {
        color: #333; // label sáng

    }

    select.form-select {
        background-color: #fff;
        color: #000;
        border-color: #dee2e6;

        &:focus {
            border-color: #1976d2;
            box-shadow: 0 0 0 0.25rem rgba(25, 118, 210, 0.25);
        }
    }
}

.floating-dark {


    label {
        color: #ababab; // label tối
        background-color: transparent;
    }

    select.form-select {
        background-color: #0b335c;
        color: #cfcfcf;
        border-color: #ffffff;

        &:focus {
            border-color: #86b7fe;
            box-shadow: 0 0 0 0.25rem rgba(144, 202, 249, 0.25);
        }
    }
}