// @media (min-width: 1800px) {

//   .container,
//   .container-lg,
//   .container-md,
//   .container-sm,
//   .container-xl,
//   .container-xxl {
//     max-width: 1775px !important;
//   }
// }

body {
  // overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;

}


body.theme-light {
  --app-background: #f6fff6;
  --app-text: #111111;
}

body.theme-dark {
  --app-background: #0d2239;
  --app-text: #f3f3f3;
}

a.dropdown-toggle {
  font-size: 25px;

  &::after {
    display: none !important;
  }
}

.app-container {
  overflow-x: hidden;
  background-color: var(--app-background);
  color: var(--app-text);
  transition: background-color 0.25s ease, color 0.25s ease;

  .header-container {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 100px;




    .theme-dropdown-light {
      .dropdown-menu.show {
        background-color: #ffffff;
      }

      .dropdown-item {
        color: #000000;

        &:hover {
          background-color: #cacacac4;
        }
      }
    }

    .theme-dropdown-dark {
      .dropdown-menu.show {
        background-color: #125191;
      }

      .dropdown-item {
        color: #cfcfcf;

        &:hover {
          background-color: #1160b0c4;
        }
      }
    }



    .navbar-light {

      height: 100%;
      background: linear-gradient(90deg, rgba(247, 255, 247, 1) 1%, rgba(230, 255, 230, 1) 72%, rgba(247, 255, 247, 1) 100%);

      .navbar-brand {
        width: 100px;
        height: 100px;

        .logo {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .nav-link {
        font-size: 1.3rem;

        &.active {
          color: #28a745;
        }

        &:hover {
          color: #28a745;
        }
      }

      .navbar-nav {
        display: flex;
        align-items: center;
        gap: 12px;
        /* khoảng cách giữa các nút */
        font-family: Arial, sans-serif;

        .btn-login {
          // margin-right: 10px;
          // padding: 0 15px;
          // color: rgb(0, 0, 0);
          // font-weight: 500;
          // background: transparent;
          // height: 40px;
          // font-size: 1rem;
          // border: 2px solid #28a745;
          // background: transparent;
          padding: 8px 20px;
          border: 2px solid #28a745;
          background: transparent;
          color: #28a745;
          border-radius: 8px;
          font-size: 16px;
          cursor: pointer;
          transition: all 0.2s ease;

          &:hover {
            background: #28a745;
            color: white;
          }
        }

        .btn-signup {
          // font-size: 1rem;
          // padding: 0 15px;
          // border-radius: 10px;
          // color: rgb(255 255 255);
          // font-weight: 500;
          // border: 2px solid rgb(67, 185, 105);
          // background-color: rgb(67, 185, 105);
          // height: 40px;

          padding: 8px 20px;
          border: 2px solid #28a745;
          background: #28a745;
          color: #ffffff;
          border-radius: 8px;
          font-size: 16px;
          transition: all 0.2s ease;
          font-weight: bold;
          cursor: pointer;
          transition: background 0.2s ease;

          // &:hover {
          //   background-color: rgb(48, 114, 69);
          //   border-color: rgb(48, 114, 69);
          //   border-radius: 15px;
          //   transition: 0.3s ease-in-out;
          // }
          &:hover {
            background: #218838;
            /* xanh đậm hơn */
          }
        }

        .settings {


          border: none;
          border-radius: 12px;
          cursor: pointer;
          transition: all 0.3s ease;

          &:hover {
            color: #28a745;
          }
        }

        .cT-lG {
          display: flex;



          .changeTheme {
            user-select: none;
            cursor: pointer;
            // color: #000000;
            border: none;

            &:hover {
              color: #2fff008b;
            }
          }




          .languages {
            cursor: pointer;
            background-color: transparent;
            border: none;
            border-radius: 12px;


            &:hover {
              color: #28a745;
            }

            .dropdown-item {
              display: flex;
              align-items: center;
              gap: 5px;
            }

          }
        }
      }


    }

    .navbar-dark {

      height: 100%;
      background: #071e34ff;

      .navbar-brand {
        width: 100px;
        height: 100px;

        .logo {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .nav-link {
        font-size: 1.3rem;
        color: #cfcfcf;

        &.active {
          color: #28a745;
        }

        &:hover {
          color: #28a745;
        }
      }

      .navbar-nav {
        display: flex;
        align-items: center;
        gap: 12px;
        /* khoảng cách giữa các nút */
        font-family: Arial, sans-serif;

        .btn-login {
          // margin-right: 10px;
          // padding: 0 15px;
          // color: rgb(0, 0, 0);
          // font-weight: 500;
          // background: transparent;
          // height: 40px;
          // font-size: 1rem;
          // border: 2px solid #28a745;
          // background: transparent;
          padding: 8px 20px;
          border: 2px solid #28a745;
          background: transparent;
          color: #28a745;
          border-radius: 8px;
          font-size: 16px;
          cursor: pointer;
          transition: all 0.2s ease;

          &:hover {
            background: #28a745;
            color: white;
          }
        }

        .btn-signup {
          // font-size: 1rem;
          // padding: 0 15px;
          // border-radius: 10px;
          // color: rgb(255 255 255);
          // font-weight: 500;
          // border: 2px solid rgb(67, 185, 105);
          // background-color: rgb(67, 185, 105);
          // height: 40px;

          padding: 8px 20px;
          border: 2px solid #28a745;
          background: #28a745;
          color: #ffffff;
          border-radius: 8px;
          font-size: 16px;
          transition: all 0.2s ease;
          font-weight: bold;
          cursor: pointer;
          transition: background 0.2s ease;

          // &:hover {
          //   background-color: rgb(48, 114, 69);
          //   border-color: rgb(48, 114, 69);
          //   border-radius: 15px;
          //   transition: 0.3s ease-in-out;
          // }
          &:hover {
            background: #218838;
            /* xanh đậm hơn */
          }
        }

        .settings {
          border: none;
          border-radius: 12px;
          cursor: pointer;
          transition: all 0.3s ease;

          &:hover {
            color: #28a745;
          }
        }

        .cT-lG {
          display: flex;

          .changeTheme {
            user-select: none;
            cursor: pointer;
            // color: #000000;
            border: none;

            &:hover {
              color: #2fff008b;
            }
          }




          .languages {
            cursor: pointer;
            background-color: transparent;
            border: none;
            border-radius: 12px;


            &:hover {
              color: #28a745;
            }

            .dropdown-item {
              display: flex;
              align-items: center;
              gap: 5px;

            }

          }
        }




      }


    }




  }

  .main-container {
    display: flex;
    // justify-content: center;
    // align-items: center;

    .app-content {

      height: 100%;
      scroll-behavior: smooth;
      width: 100%;


      .Homepage-content {
        display: flex;
        flex-direction: row;

        .text-container {
          width: 50%;
          // color: black;
          margin: 50px 0 0 50px;
          display: flex;
          flex-direction: column;

          .user-stats-light {
            font-size: 15px;
            font-weight: 800;
            width: 250px;
            color: rgb(0, 0, 0);
            padding: 20px 30px;
            border: 2px solid #000;
            border-radius: 20px;

            a {
              text-decoration: none;
              background-image: linear-gradient(75.1deg, rgba(34, 126, 34, 1) 6%, rgba(99, 226, 17, 1) 84.3%); // màu gradient
              -webkit-background-clip: text; // cắt background theo chữ
              -webkit-text-fill-color: transparent; // fill chữ trong suốt để lộ background
              background-clip: text;
              color: transparent;
            }
          }

          .user-stats-dark {
            font-size: 15px;
            font-weight: 800;
            width: 250px;
            color: #cfcfcf;
            padding: 20px 30px;
            border: 2px solid #ffffff;
            border-radius: 20px;

            a {
              text-decoration: none;
              background-image: linear-gradient(75.1deg, rgba(34, 126, 34, 1) 6%, rgba(99, 226, 17, 1) 84.3%); // màu gradient
              -webkit-background-clip: text; // cắt background theo chữ
              -webkit-text-fill-color: transparent; // fill chữ trong suốt để lộ background
              background-clip: text;
              color: transparent;
            }
          }


          .homepage-maintitle {
            display: flex;
            /* justify-content: center; */
            background-image: linear-gradient(226.4deg, rgba(255, 26, 1, 1) 28.9%, rgba(254, 155, 1, 1) 33%, rgba(255, 241, 0, 1) 48.6%, rgba(34, 218, 1, 1) 65.3%, rgba(0, 141, 254, 1) 80.6%, rgba(113, 63, 254, 1) 100.1%);
            -webkit-background-clip: text; // cắt background theo chữ
            -webkit-text-fill-color: transparent; // fill chữ trong suốt để lộ background
            background-clip: text;
            font-size: 10rem;
            font-weight: 700;
            /* margin-left: 50px; */
          }

          .homepage-sidetitle {
            margin: 30px 0;

            span.top-light {
              font-size: 2rem;
              font-weight: 600;
              color: #000;
            }

            span.top-dark {
              font-size: 2rem;
              font-weight: 600;
              color: #cfcfcf;
            }

            span.bottom-light {
              font-size: 1.4rem;
              font-weight: 100;
              color: #000;
            }

            span.bottom-dark {
              font-size: 1.4rem;
              font-weight: 100;
              color: #cfcfcf;
            }
          }

          .homepage-btn {

            .theme-button-light {

              width: 200px;
              padding: 0 15px;
              border-radius: 10px;
              color: rgb(255 255 255);
              font-weight: 500;
              border: 2px solid rgb(0, 0, 0);
              background-color: rgb(0, 0, 0);
              height: 50px;
              transition: 0.3s ease-out;

              &:hover {
                background-color: rgb(38, 38, 38);
                border-color: rgb(68, 68, 68);
                border-radius: 10px;
                transition: 0.2s ease-in;
              }

            }

            .theme-button-dark {

              width: 200px;
              padding: 0 15px;
              border-radius: 10px;
              color: rgb(255 255 255);
              font-weight: 500;
              border: 2px solid rgb(0, 0, 0);
              background-color: rgba(51, 190, 20, 0.964);
              height: 50px;
              transition: 0.3s ease-out;

              &:hover {
                background-color: rgb(38, 152, 3);
                border-color: rgb(68, 68, 68);
                border-radius: 10px;
                transition: 0.2s ease-in;
              }

            }

          }
        }

        .video-container {
          // min-height: calc(100vh - 100px);
          // height: 500px;
          width: 50%;
          margin-top: 50px;
          display: flex;
          justify-content: center;

          overflow-x: hidden;

          video {
            height: 500px;
            width: 500px;
          }

        }
      }
    }
  }
}

.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #0b2e4f !important;
  color: #cfcfcf !important;
}

.theme-nav-body-light {
  background: linear-gradient(90deg, rgba(247, 255, 247, 1) 1%, rgba(230, 255, 230, 1) 72%, rgba(247, 255, 247, 1) 100%);
  color: #000;
}

.theme-nav-body-dark {
  background: #071e34ff;
  color: #cfcfcf;
}

.theme-main-container-light {
  background: linear-gradient(90deg, rgba(230, 255, 230, 1) 1%, rgba(222, 255, 222, 1) 72%, rgba(201, 255, 201, 1) 100%);

}

.theme-main-container-dark {
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(12, 12, 64, 1) 35%, rgba(6, 29, 71, 1) 64%, rgba(2, 20, 61, 1) 100%);

}

.theme-dropdown-light {
  .dropdown-menu.show {
    background-color: #ffffff;
  }

  .dropdown-item {
    color: #000000;

    &:hover {
      background-color: #cacacac4;
    }
  }
}

.theme-dropdown-dark {
  .dropdown-menu.show {
    background-color: #125191;
  }

  .dropdown-item {
    color: #cfcfcf;

    &:hover {
      background-color: #1160b0c4;
    }
  }
}





@media (max-width: 576px) {

  button.navbar-toggler,
  .collapsed {
    margin-right: 15px;
    padding: 8px;
    display: flex;
    align-items: center;

    span.navbar-toggler-icon {
      width: 15px !important;
      height: 15px !important;
    }
  }

  .offcanvas-header {
    .btn-close {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='gray' viewBox='0 0 16 16'><path d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/></svg>");
      background-size: 2em;
      // hoặc
      border: 1px solid gray;

    }
  }

  .ico {
    display: flex;
    flex-direction: column-reverse !important;
    gap: 20px;

    .settings {
      display: none !important;
    }

    .dropdown-menu {
      &.show {
        position: absolute;
        left: -20px !important;
      }
    }

    .btn-login {
      // margin-right: 10px;
      // padding: 0 15px;
      // color: rgb(0, 0, 0);
      // font-weight: 500;
      // background: transparent;
      // height: 40px;
      // font-size: 1rem;
      // border: 2px solid #28a745;
      // background: transparent;
      padding: 8px 20px;
      border: 2px solid #28a745;
      background: transparent;
      color: #28a745;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        background: #28a745;
        color: white;
      }
    }

    .btn-signup {
      // font-size: 1rem;
      // padding: 0 15px;
      // border-radius: 10px;
      // color: rgb(255 255 255);
      // font-weight: 500;
      // border: 2px solid rgb(67, 185, 105);
      // background-color: rgb(67, 185, 105);
      // height: 40px;

      padding: 8px 20px;
      border: 2px solid #28a745;
      background: #28a745;
      color: #ffffff;
      border-radius: 8px;
      font-size: 16px;
      transition: all 0.2s ease;
      font-weight: bold;
      cursor: pointer;
      transition: background 0.2s ease;

      // &:hover {
      //   background-color: rgb(48, 114, 69);
      //   border-color: rgb(48, 114, 69);
      //   border-radius: 15px;
      //   transition: 0.3s ease-in-out;
      // }
      &:hover {
        background: #218838;
        /* xanh đậm hơn */
      }
    }

    .cT-lG {
      flex-direction: row !important;
      gap: 20px;

      .settings-true {
        display: flex !important;
      }

      .languages {
        .dropdown-item {
          display: flex !important;
          align-items: center !important;
          gap: 5px !important;
        }
      }
    }
  }

  .app-content {
    width: 100vw !important;

    .Homepage-content {
      display: flex;
      flex-wrap: wrap;
      // align-items: center;
    }

    .text-container {
      width: 100% !important;
      margin: 20px 20px 0 20px !important;

      .user-stats-light {
        font-size: 13px !important;
        width: 230px !important;
      }

      .user-stats-dark {
        font-size: 13px !important;
        width: 230px !important;
      }

      .homepage-maintitle {
        font-size: 5rem !important;
        display: flex;
        justify-content: center;
        align-items: center;

      }

      .homepage-sidetitle {
        text-align: center !important;

        span.top-light {
          font-size: 1.3rem !important;

        }

        span.top-dark {
          font-size: 1.3rem !important;

        }

        span.bottom-light {
          font-size: 1rem !important;

        }

        span.bottom-dark {
          font-size: 1rem !important;

        }
      }
    }

    .video-container {
      width: 100% !important;
      margin: 50px 0 0 0 !important;

      video {
        height: 250px !important;
        width: 250px !important;
      }
    }
  }
}

// /* 576px – 768px */
@media (min-width: 577px) and (max-width: 768px) {

  button.navbar-toggler,
  .collapsed {
    margin-right: 15px;
    padding: 8px;
    display: flex;
    align-items: center;

    span.navbar-toggler-icon {
      width: 22px !important;
      height: 22px !important;
    }
  }

  .offcanvas-header {
    .btn-close {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='gray' viewBox='0 0 16 16'><path d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/></svg>");
      background-size: 2em;
      // hoặc
      border: 1px solid gray;

    }
  }

  .ico {
    display: flex;
    flex-direction: column-reverse !important;
    gap: 20px;

    .settings {
      display: none !important;
    }

    .dropdown-menu {
      &.show {
        position: absolute;
        left: -20px !important;
      }
    }

    .btn-login {
      // margin-right: 10px;
      // padding: 0 15px;
      // color: rgb(0, 0, 0);
      // font-weight: 500;
      // background: transparent;
      // height: 40px;
      // font-size: 1rem;
      // border: 2px solid #28a745;
      // background: transparent;
      padding: 8px 20px;
      border: 2px solid #28a745;
      background: transparent;
      color: #28a745;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        background: #28a745;
        color: white;
      }
    }

    .btn-signup {
      // font-size: 1rem;
      // padding: 0 15px;
      // border-radius: 10px;
      // color: rgb(255 255 255);
      // font-weight: 500;
      // border: 2px solid rgb(67, 185, 105);
      // background-color: rgb(67, 185, 105);
      // height: 40px;

      padding: 8px 20px;
      border: 2px solid #28a745;
      background: #28a745;
      color: #ffffff;
      border-radius: 8px;
      font-size: 16px;
      transition: all 0.2s ease;
      font-weight: bold;
      cursor: pointer;
      transition: background 0.2s ease;

      // &:hover {
      //   background-color: rgb(48, 114, 69);
      //   border-color: rgb(48, 114, 69);
      //   border-radius: 15px;
      //   transition: 0.3s ease-in-out;
      // }
      &:hover {
        background: #218838;
        /* xanh đậm hơn */
      }
    }

    .cT-lG {
      flex-direction: row !important;
      gap: 20px;

      .settings-true {
        display: flex !important;
      }

      .languages {
        .dropdown-item {
          display: flex !important;
          align-items: center !important;
          gap: 5px !important;
        }
      }
    }
  }


  .Homepage-content {
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
  }

  .text-container {
    width: 100% !important;
    margin: 20px 20px 0 20px !important;

    .user-stats-light {
      font-size: 15px !important;
      width: 230px !important;
    }

    .user-stats-dark {
      font-size: 15px !important;
      width: 230px !important;
    }

    .homepage-maintitle {
      font-size: 8rem !important;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .homepage-sidetitle {
      text-align: center !important;

      span.top-light {
        font-size: 1.5rem !important;

      }

      span.top-dark {
        font-size: 1.5rem !important;

      }

      span.bottom-light {
        font-size: 1.2rem !important;

      }

      span.bottom-dark {
        font-size: 1.2rem !important;

      }
    }
  }

  .video-container {
    width: 100% !important;
    margin: 50px 0 0 0 !important;
  }
}

// /* 768px – 992px */
@media (min-width: 769px) and (max-width: 1039px) {
  .offcanvas-header {
    .btn-close {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='gray' viewBox='0 0 16 16'><path d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/></svg>");
      background-size: 2em;
      // hoặc
      border: 1px solid gray;

    }
  }

  .ico {
    display: flex;
    flex-direction: column-reverse !important;
    gap: 20px;

    .settings {
      display: none !important;
    }

    .dropdown-menu {
      &.show {
        position: absolute;
        left: -20px !important;
      }
    }

    .btn-login {
      // margin-right: 10px;
      // padding: 0 15px;
      // color: rgb(0, 0, 0);
      // font-weight: 500;
      // background: transparent;
      // height: 40px;
      // font-size: 1rem;
      // border: 2px solid #28a745;
      // background: transparent;
      padding: 8px 20px;
      border: 2px solid #28a745;
      background: transparent;
      color: #28a745;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        background: #28a745;
        color: white;
      }
    }

    .btn-signup {
      // font-size: 1rem;
      // padding: 0 15px;
      // border-radius: 10px;
      // color: rgb(255 255 255);
      // font-weight: 500;
      // border: 2px solid rgb(67, 185, 105);
      // background-color: rgb(67, 185, 105);
      // height: 40px;

      padding: 8px 20px;
      border: 2px solid #28a745;
      background: #28a745;
      color: #ffffff;
      border-radius: 8px;
      font-size: 16px;
      transition: all 0.2s ease;
      font-weight: bold;
      cursor: pointer;
      transition: background 0.2s ease;

      // &:hover {
      //   background-color: rgb(48, 114, 69);
      //   border-color: rgb(48, 114, 69);
      //   border-radius: 15px;
      //   transition: 0.3s ease-in-out;
      // }
      &:hover {
        background: #218838;
        /* xanh đậm hơn */
      }
    }

    .cT-lG {
      flex-direction: row !important;
      gap: 20px;

      .settings-true {
        display: flex !important;
      }

      .languages {
        .dropdown-item {
          display: flex !important;
          align-items: center !important;
          gap: 5px !important;
        }
      }
    }
  }

  .app-container {


    button.navbar-toggler,
    .collapsed {
      margin-right: 15px;
      padding: 8px;
      display: flex;
      align-items: center;

      span.navbar-toggler-icon {
        width: 22px !important;
        height: 22px !important;
      }
    }

    .main-container {
      .app-content {
        width: 100% !important;

        .Homepage-content {
          display: flex;
          flex-wrap: wrap;
          gap: 50px;
          width: 100% !important;

          // align-items: center;
          .text-container {
            width: 100% !important;
            margin: 20px 20px 0 20px !important;

            .user-stats-light {
              font-size: 15px !important;
              width: 230px !important;
            }

            .user-stats-dark {
              font-size: 15px !important;
              width: 230px !important;
            }

            .homepage-maintitle {
              font-size: 8rem !important;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .homepage-sidetitle {
              text-align: center !important;

              span.top-light {
                font-size: 1.5rem !important;

              }

              span.top-dark {
                font-size: 1.5rem !important;

              }

              span.bottom-light {
                font-size: 1.2rem !important;

              }

              span.bottom-dark {
                font-size: 1.2rem !important;

              }
            }
          }

          .video-container {
            width: 100% !important;
            margin: 50px 0 0 0 !important;
          }
        }
      }
    }
  }

}


// /* 992px – 1200px */
@media (min-width: 1040px) and (max-width: 1200px) {
  .offcanvas-header {
    .btn-close {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='gray' viewBox='0 0 16 16'><path d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/></svg>");
      background-size: 2em;
      // hoặc
      border: 1px solid gray;

    }
  }

  .ico {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;

    .settings {
      display: none !important;
    }

    .dropdown-menu {
      &.show {
        position: absolute;
        left: -20px !important;
      }
    }

    .btn-login {
      // margin-right: 10px;
      // padding: 0 15px;
      // color: rgb(0, 0, 0);
      // font-weight: 500;
      // background: transparent;
      // height: 40px;
      // font-size: 1rem;
      // border: 2px solid #28a745;
      // background: transparent;
      padding: 8px 20px;
      border: 2px solid #28a745;
      background: transparent;
      color: #28a745;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        background: #28a745;
        color: white;
      }
    }

    .btn-signup {
      // font-size: 1rem;
      // padding: 0 15px;
      // border-radius: 10px;
      // color: rgb(255 255 255);
      // font-weight: 500;
      // border: 2px solid rgb(67, 185, 105);
      // background-color: rgb(67, 185, 105);
      // height: 40px;

      padding: 8px 20px;
      border: 2px solid #28a745;
      background: #28a745;
      color: #ffffff;
      border-radius: 8px;
      font-size: 16px;
      transition: all 0.2s ease;
      font-weight: bold;
      cursor: pointer;
      transition: background 0.2s ease;

      // &:hover {
      //   background-color: rgb(48, 114, 69);
      //   border-color: rgb(48, 114, 69);
      //   border-radius: 15px;
      //   transition: 0.3s ease-in-out;
      // }
      &:hover {
        background: #218838;
        /* xanh đậm hơn */
      }
    }

    .cT-lG {
      flex-direction: row !important;
      gap: 20px;

      .settings-true {
        display: flex !important;
      }


      .languages {
        .dropdown-item {
          display: flex !important;
          align-items: center !important;
          gap: 5px !important;
        }
      }
    }
  }



  .text-container {
    margin: 50px 0 0 30px !important;

    .user-stats-light {
      font-size: 13px;
      width: 70%;
    }

    .user-stats-dark {
      font-size: 13px;
      width: 70%;
    }
  }


}

// /* ≥1200px */
@media (min-width: 1201px) {
  .offcanvas-header {
    .btn-close {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='gray' viewBox='0 0 16 16'><path d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/></svg>");
      background-size: 2em;
      // hoặc
      border: 1px solid gray;

    }
  }

  .ico {
    display: flex;

    gap: 20px;

    .dropdown-menu {
      &.show {
        position: absolute;
        left: -20px !important;
      }
    }

    .cT-lG {
      .settings-true {
        display: none !important;
      }

      flex-direction: row !important;
      gap: 20px;
    }
  }
}