.Admin-container {
    display: flex;

    .Sidebar-container {
        .pro-sidebar {
            height: 100vh;
            position: fixed;
            top: 0;
            /* left: 0; */
            z-index: 1;
            bottom: 0;
        }
    }

    .Admin-content {
        display: flex;
        flex-direction: column;
        width: 100%;

        .Admin-header {
            position: fixed;
            height: 100px;
            border: 2px solid blue;
            left: 270px;
            right: 0;
        }

        .Admin-main {
            border: 2px solid blue;
            position: relative;
            top: 100px;
            margin-left: 270px;
            min-height: calc(100vh - 135px);
        }
    }

}