.Admin-container {
    display: flex;

    .Sidebar-container {
        position: sticky;
        top: 0;
        height: 100vh;
        z-index: 2;
    }

    .Admin-content {
        display: flex;
        flex-direction: column;
        width: 100%;

        .Admin-header {
            height: 80px;
            margin-left: 20px;
            margin-right: 20px;
            // border: 2px solid #ccc;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: sticky;
            top: 0;
            z-index: 1;
            // background-color: rgba(240, 248, 255, 0.73);

            .btn-collapse {
                user-select: none;
                cursor: pointer;
                font-size: 25px;
                // color: #000000;
                margin-left: 20px;
                background-color: transparent;

                display: flex;
                align-items: center;
                justify-content: center;


                &:hover {
                    color: #2fff008b;

                }
            }

            .rightside {
                display: flex;
                align-items: center;
                gap: 20px;



                .changeTheme {
                    user-select: none;
                    cursor: pointer;
                    // color: #000000;
                    border: none;

                    &:hover {
                        color: #2fff008b;
                    }
                }

                .settings {
                    user-select: none;
                    cursor: pointer;
                    // color: #000000;
                    border: none;
                    border-radius: 12px;

                    &:hover {
                        color: #2fff008b;
                    }
                }

                .language-admin {
                    .dropdown-item {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                    }
                }


                .languages {
                    border: none;
                    border-radius: 12px;
                    // padding: 5px 5px;
                    cursor: pointer;

                    &:hover {
                        color: #2fff008b;

                    }


                }
            }
        }

        .Admin-main {

            height: 100%;
            background-color: rgb(246, 251, 255);
        }
    }

}

.light {
    background-color: #ffffff;
    color: #000000;
}

.dark {
    background-color: #0b2e4f !important;
    color: #cfcfcf !important;
}


.dropdown-light {
    .dropdown-menu.show {
        background-color: #ffffff;
    }

    .dropdown-item {
        color: #000000;

        &:hover {
            background-color: #cacacac4;
        }
    }
}

.dropdown-dark {
    .dropdown-menu.show {
        background-color: #125191;
    }

    .dropdown-item {
        color: #cfcfcf;

        &:hover {
            background-color: #1160b0c4;
        }
    }
}