.Admin-container {
    display: flex;

    

    .Admin-content {
        display: flex;
        flex-direction: column;
        width: 100%;

        .Admin-header {
            height: 50px;
            border: 2px solid blue;
            .btn-collapse{
                user-select: none;
            }
            
        }

        .Admin-main {
            height: calc(100vh - 40px);
        }
    }

}