.accountprofile-container {
    height: 100vh;
    .breadcrumb-container {
        margin-left: 20px;
        margin-right: 20px;
        // margin-top: 10px;
        height: 80px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .account-title {
            margin-left: 20px;
            // margin-top: 10px;
            font-size: 1.875rem;
            font-weight: 600;
        }

        .nav-breadcrumb {
            font-size: 1rem;
            margin-right: 20px;

            .breadcrumb {
                margin-bottom: 0;

                .breadcrumb-item {
                   &::before {
                        color: #ccc6c6
                    }

                    a {
                        text-decoration: none;

                        .basic-light {
                            color: #0d6efd
                        }

                        .basic-dark {
                            color: #0066ff
                        }

                        .active-light {
                            color: rgba(33, 37, 41, 0.75)
                        }

                        .active-dark {
                            color: #989898
                        }
                    }

                }
            }
        }


    }
}
.light {
    background-color: #ffffff ;
    color: #000000;
}

.dark {
    background-color: #082440 ;
    color: #cfcfcf;
}

.dark-card {
    background-color: #0b335c ;
    color: #cfcfcf ;

}
 .floating-light {


        label {
            color: #333; // label sáng

        }

        select.form-select {
            background-color: #fff;
            color: #000;
            border-color: #dee2e6;

            &:focus {
                border-color: #1976d2;
                box-shadow: 0 0 0 0.25rem rgba(25, 118, 210, 0.25);
            }
        }
    }

    .floating-dark {
        

        label {
            color: #ababab; // label tối
            background-color: transparent;
        }

        select.form-select {
            background-color: #0b335c;
            color: #cfcfcf;
            border-color: #ffffff;

            &:focus {
                border-color: #86b7fe;
                box-shadow: 0 0 0 0.25rem rgba(144, 202, 249, 0.25);
            }
        }
    }
ul#controlled-tab-example{
    margin-left: 20px;
    margin-right: 20px;
}