.footer-container-light{
    background: linear-gradient(90deg, rgba(247, 255, 247, 1) 1%, rgba(230, 255, 230, 1) 72%, rgba(247, 255, 247, 1) 100%);
}
.footer-container-dark{
    background: #071e34ff;
    color: rgb(255, 255, 255);
}