.manageQuizzes-container {
    height: 100%;

    

    .quizzes-content {
        margin: 20px 20px 50px;
        border: none;
        border-radius: 20px;
        height: 100vh;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);

        .btn-common {
            margin-left: 20px;
            margin-top: 20px;

            .btn-showModal {
                display: flex;
                align-items: center;
                gap: 5px;
                border-radius: 20px;
                padding: 8px 10px;
                background-color: #0d6efd;
                transition: 0.2s ease-out;
                border: none;
                color: #fff;
                font-size: 16px;

                &:hover {
                    background-color: #08378e;
                    transition: 0.2s ease-in;
                }

                .i-size {
                    font-size: 17px;
                }
            }

            .btn-update {
                background-color: #f1b606;

                &:hover {
                    background-color: #9e7c15;
                }
            }

            .btn-assign {
                background-color: #0db6d8;

                &:hover {
                    background-color: #19a1bc;
                }
            }
        }

        .search-bar {
            width: 180px;
            margin-left: 20px;
            margin-top: 20px;

            .search-quiz {
                height: 50px;
                border-radius: 30px;

            }
        }

        .table-quizzes {
            margin-top: 20px;

            .pagination {
                margin-top: 20px;
                display: flex;
                justify-content: center;

                /* Light theme */
                &.pagination-light {
                    border: none;

                    .page-link {
                        background-color: #f5f5f5;
                        color: #333;
                        border: none;

                        &:hover {
                            background-color: #ddd;
                            color: #000;
                        }
                    }

                    .page-item.active .page-link {
                        background-color: #007bff;
                        color: #fff;
                    }
                }

                /* Dark theme */
                &.pagination-dark {

                    .page-link {
                        background-color: #0a2642;
                        color: #ddd;
                        border: none;

                        &:hover {
                            background-color: #444;
                            color: #fff;
                        }
                    }

                    .page-item.active .page-link {
                        background-color: #0d6efd;
                        color: #fff;
                    }
                }
            }

            .scrollbar {
                height: fit-content;

                table.table {
                    th.th-dark {
                        background-color: #0e4c8a;
                        color: #cfcfcf;
                    }

                    th.th-light {
                        background-color: #fff;
                        color: #000;
                    }

                    th.action-col {
                        width: 190px;
                        text-align: center;
                    }


                    td.action-col {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .btn-light {
                        color: #000000;
                    }

                    .btn-dark {
                        color: #cfcfcf;
                    }

                    .btn-edit-dark {
                        color: #cfcfcf;

                    }



                    button.btn-edit {
                        background: transparent;
                        border: none;
                        border-radius: 10px;
                        padding: 5px 7px;
                        cursor: pointer;
                        transition: all 0.2s ease;
                        margin-right: 5px;

                        &:hover {
                            padding: 5px 7px;
                            background-color: #dbffd2;
                            color: #36e40a;
                        }
                    }

                    button.btn-delete {
                        background: transparent;
                        border: none;
                        border-radius: 10px;
                        padding: 5px 7px;
                        cursor: pointer;
                        transition: all 0.2s ease;
                        margin-right: 5px;

                        &:hover {
                            padding: 5px 7px;
                            background-color: #ffb3b3;
                            color: #ff0000;
                        }
                    }
                }
            }
        }
    }
}

.light {
    background-color: #ffffff;
    color: #000000;
}

.dark {
    background-color: #082440;
    color: #cfcfcf;
}

.dark-card {
    background-color: #0b335c;
    color: #cfcfcf;

}

.modal-body {
    .floating-light {


        label {
            color: #333; // label sáng

        }

        select.form-select {
            background-color: #fff;
            color: #000;
            border-color: #dee2e6;

            &:focus {
                border-color: #1976d2;
                box-shadow: 0 0 0 0.25rem rgba(25, 118, 210, 0.25);
            }
        }
    }

    .floating-dark {


        label {
            color: #ababab; // label tối
            background-color: transparent;
        }

        select.form-select {
            background-color: #0b335c;
            color: #cfcfcf;
            border-color: #ffffff;

            &:focus {
                border-color: #86b7fe;
                box-shadow: 0 0 0 0.25rem rgba(144, 202, 249, 0.25);
            }
        }
    }


    label.form-label {
        font-weight: 500;
    }
}

.light-theme {
    .filepond--panel-root {
        background-color: #fff;
        border: 1px solid #ccc;
    }

    .filepond--drop-label {
        color: #000 !important;
    }
}

.dark-theme {
    .filepond--panel-root {
        background-color: #0b335c !important; // nền tối
        border: 1px solid #ffffff;
    }

    .filepond--drop-label {
        color: #cfcfcf !important;
    }
}

.modal-add-quiz {
    .modal-body {
        label.form-label {
            font-weight: 500;
        }
    }

    .image-preview {
        height: 150px;
        border: 1px dashed #ccc;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .label-uploadFile {
        display: flex;
        align-items: center;
        gap: 5px;
        border: none;
        font-size: 1.2rem;
        // padding: 3px 10px;
        // border-radius: 5px;
        // background-color: #0d6efd;
        // color: #000000;
        transition: 0.2s ease-out;
    }
}

.modal-updateQA {


    .questions-content {
        // margin: 50px 20px;
        // border: 1px solid #ccc;
        // border-radius: 20px;
        height: fit-content;

        .questions-select {
            .is-invalid .react-select__control {
                border-color: #dc3545 !important;
                /* màu đỏ của bootstrap */
                box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25) !important;
            }
        }

        .questions {
            display: flex;
            align-items: center;
            gap: 10px;

            .uploadFile-container {
                width: fit-content;
                display: flex;
                gap: 5px;
                margin-right: 10px;

                .label-uploadFile {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    width: fit-content;
                    border: none;
                    padding: 3px 10px;
                    border-radius: 5px;
                    background-color: #0d6efd;
                    color: #fff;
                    cursor: pointer;
                    transition: 0.2s ease-out;

                    &:hover {
                        background-color: #08378e;
                        transition: 0.2s ease-in;
                    }
                }

                .file-name {
                    width: 150px;
                    overflow: hidden;
                    white-space: nowrap;

                    span {
                        display: inline-block;

                        span {
                            &:hover {
                                text-decoration: underline;
                                color: #08378e;
                                cursor: pointer;
                            }
                        }

                    }
                }
            }


            .action-btn {
                display: flex;
                gap: 10px;

                .btn {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    border-radius: 10px;
                    padding: 8px 10px;
                    transition: 0.2s ease-out;
                    border: none;
                    color: #fff;
                }

                .btn-plus {
                    background-color: #16b41b;

                    &:hover {
                        background-color: rgb(30, 131, 7);
                        transition: 0.2s ease-in;
                    }
                }

                .btn-minus {
                    background-color: #b41616;

                    &:hover {
                        background-color: rgb(101, 6, 6);
                        transition: 0.2s ease-in;
                    }
                }

            }
        }

        .answers-content {
            display: flex;
            align-items: center;
            gap: 10px;

            .form-floating {
                width: 560px;
            }

            .action-btn {
                display: flex;
                gap: 10px;

                .btn {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    border-radius: 10px;
                    padding: 8px 10px;
                    transition: 0.2s ease-out;
                    border: none;
                    color: #fff;
                }

                .btn-plus {
                    background-color: #16b41b;

                    &:hover {
                        background-color: rgb(30, 131, 7);
                        transition: 0.2s ease-in;
                    }
                }

                .btn-minus {
                    background-color: #b41616;

                    &:hover {
                        background-color: rgb(101, 6, 6);
                        transition: 0.2s ease-in;
                    }
                }

            }
        }

        .btn-save-questions {
            background-color: #0d6efd;
            color: #fff;
            cursor: pointer;
            transition: 0.2s ease-out;

            &:hover {
                background-color: #08378e;
                transition: 0.2s ease-in;
            }
        }

        .noti-emptyQA {
            font-size: 20px;
            color: #dc3545;
            margin-top: 10px;
        }
    }
}

.modal-assign-quiz {
    .modal-body {
        display: flex;
        justify-content: center;
        gap: 20px;
        height: 200px;

        .quiz-select {
            .is-invalid .react-select__control {
                border-color: #dc3545 !important;
                /* màu đỏ của bootstrap */
                box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25) !important;
            }
        }

        .user-select {
            .is-invalid .react-select__control {
                border-color: #dc3545 !important;
                /* màu đỏ của bootstrap */
                box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25) !important;
            }
        }

    }
}