.login-main {
    height: calc(100vh - 0px);

    .languages-change-container {
        width: 100%;
        margin-left: 20px;
        margin-top: 10px;
        display: flex;
        gap: 5px;

        .language-admin {
            .dropdown-item {
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }
    }

    .brand-name {
        height: 100px;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .login-container {
        height: 100vh;
        display: flex;
        justify-content: center;
        // align-items: center;

        .login-content {
            display: flex;
            align-items: center;
            // justify-content: center;
            flex-direction: column;
            border-radius: 10px;
            width: 500px;
            height: fit-content;
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
                0 10px 10px rgba(0, 0, 0, 0.22);


            .login-title {
                font-size: 30px;
                font-weight: 700;
            }




            .social-links-light {
                margin-top: 10px;

                a {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 5px;
                    height: 45px;
                    width: 45px;
                    color: #000000;

                    img {
                        border: 2px solid #DDDDDD;
                        border-radius: 50%;
                        max-width: 100%;
                        max-height: 100%;
                    }


                }
            }

            .social-links-dark {
                margin-top: 10px;

                a {


                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 5px;
                    height: 45px;
                    width: 45px;
                    color: #fff;

                    img {
                        border: 2px solid #DDDDDD;
                        border-radius: 50%;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }



            .divider-light {
                display: flex;
                align-self: center;
                justify-content: center;

                span {
                    font-size: .875rem;
                    padding: 0 24px;
                    text-transform: capitalize;
                    color: #000000;
                    font-weight: 500;
                }

            }

            .divider-dark {
                display: flex;
                align-self: center;
                justify-content: center;

                span {
                    font-size: .875rem;
                    padding: 0 24px;
                    text-transform: capitalize;
                    color: #cfcfcf;
                    font-weight: 600;
                }

            }

            .form-login {

                width: 400px;

                .form-group {
                    label {
                        font-size: 14px;
                        font-weight: 500;
                    }


                }

                .forgot-password-label {
                    a {
                        text-decoration: none;

                        &:hover {
                            color: #000;
                        }
                    }
                }

                .btn-login {
                    display: flex;
                    justify-content: center;
                    margin: 20px 0;

                    button {
                        width: 100%;
                        border-radius: 20px;

                        &:hover {
                            background-color: #08378e;
                        }

                        .loading-icon {
                            color: #ffffff;
                            margin-right: 3px;
                            animation: spin 1s infinite linear;
                        }

                        @keyframes spin {
                            from {
                                transform: scale(1) rotate(0deg);
                            }

                            to {
                                transform: scale(1) rotate(360deg);
                            }
                        }

                        &:disabled {
                            background-color: #a0a0a0;
                            color: #DDDDDD;
                            cursor: no-drop;
                        }
                    }
                }

                .sign-up {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .btn-signup {
                        text-decoration: none;
                        color: rgb(13 110 253);

                        &:hover {
                            color: #000;
                            cursor: pointer;
                        }
                    }
                }

                .btn-goBack {
                    margin: 10px 0;
                    border-radius: 20px;
                    background-color: #0d6efd;
                    color: #fff;

                    &:hover {
                        background-color: #08378e;
                    }
                }


            }

        }



    }
}

.main-container-light {
    background: linear-gradient(90deg, rgba(230, 255, 230, 1) 1%, rgba(222, 255, 222, 1) 72%, rgba(201, 255, 201, 1) 100%);
    color: #000;
}

.main-container-dark {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(12, 12, 64, 1) 35%, rgba(6, 29, 71, 1) 64%, rgba(2, 20, 61, 1) 100%);
    color: #cfcfcf;
}

.light {
    background-color: #ffffff;
    color: #000000;
}

.dark-card {
    background-color: #0b335c !important;
    color: #cfcfcf !important;

}

.floating-light {
    label {
        color: #333; // label sáng
    }

    select.form-select {
        background-color: #fff;
        color: #000;
        border-color: #dee2e6;

        &:focus {
            border-color: #1976d2;
            box-shadow: 0 0 0 0.25rem rgba(25, 118, 210, 0.25);
        }
    }
}

.floating-dark {
    label {
        color: #ababab; // label tối
    }

    select.form-select {
        background-color: #0b335c;
        color: #cfcfcf;
        border-color: #ffffff;

        &:focus {
            border-color: #86b7fe;
            box-shadow: 0 0 0 0.25rem rgba(144, 202, 249, 0.25);
        }

    }
}


@media (max-width: 576px) {
    .login-content {
        width: 100% !important;
        .login-title{
            font-size: 25px !important;
        }
        .social-links-light {
            margin-top: 10px;

            a {



                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin: 0 5px;
                height: 35px !important;
                width: 35px !important;
                color: #000000;

                img {
                    border: 2px solid #DDDDDD;
                    border-radius: 50%;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }

        .social-links-dark {
            margin-top: 10px;

            a {

                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin: 0 5px;
                height: 35px !important;
                width: 35px !important;
                color: #fff;

                img {
                    border: 2px solid #DDDDDD;
                    border-radius: 50%;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }

        .form-login {
            width: 80% !important;
        }
    }
}